/*! $Generic/Grey1:Color:FF00FFFF */
/*! $Generic/Grey2:Color:FF00FFFF */
/*! $Generic/Grey3:Color:FF00FFFF */
/*! $Generic/Neutral:Color:FF00FFFF */
/*! $Generic/Highlight:Color:FF00FFFF */
/*! $Generic/Frame:Color:FF00FFFF */
/*! $Generic/TextColor:Color:FF00FFFF */
/*! $Generic/OffTextColor:Color:FF00FFFF */
/*! $Generic/ButtonBg:Color:FF00FFFF */
/*! $Generic/ButtonHoverBg:Color:FF00FFFF */
/*! $Generic/ButtonPressedBg:Color:FF00FFFF */
/*! $Generic/SeparatorColor:Color:FF00FFFF */
/*! $Specific/MarginPanelBoundaryColor:Color:FF00FFFF */
/*! $Generic/ScrollbarWidth:Int:6 */
/*! $Generic/ScrollbarPadding:Int:1 */
/*! $Generic/GeneralCornerRounding:Int:2 */
/*! $Specific/MarginPanelBoundaryThickness:Int:1 */
/*! $Specific/MarginPanelMargins:Int:5 */
/*! $Specific/OptionButtonArrow:Texture: */
/*! $Specific/HSplitGrabber:Texture: */
/*! $Specific/VSplitGrabber:Texture: */
Label, TextEdit, LineEdit, OptionButton, PopupMenu, Button {
  color_font_color: gd_var(Generic/TextColor);
}

Button, OptionButton, LineEdit {
  stylebox_corner_radius_top_left: gd_var(Generic/GeneralCornerRounding);
  stylebox_corner_radius_top_right: gd_var(Generic/GeneralCornerRounding);
  stylebox_corner_radius_bottom_right: gd_var(Generic/GeneralCornerRounding);
  stylebox_corner_radius_bottom_left: gd_var(Generic/GeneralCornerRounding);
}

VSplitContainer {
  icon_grabber: gd_var(Specific/VSplitGrabber);
}

HSplitContainer {
  icon_grabber: gd_var(Specific/HSplitGrabber);
}

TabContainer .panel {
  stylebox_bg_color: gd_var(Generic/Grey1);
  stylebox_corner_radius_top_left: 0;
  stylebox_corner_radius_top_right: 0;
  stylebox_corner_radius_bottom_right: 0;
  stylebox_corner_radius_bottom_left: 0;
}

OptionButton {
  stylebox_content_margin_left: 5;
  stylebox_content_margin_right: 5;
  stylebox_content_margin_top: 5;
  stylebox_content_margin_bottom: 5;
  stylebox_content_margin_top: -1;
  stylebox_content_margin_bottom: -1;
  stylebox_border_color: gd_var(Generic/Neutral);
  stylebox_border_width_left: 1;
  stylebox_border_width_top: 1;
  stylebox_border_width_right: 1;
  stylebox_border_width_bottom: 1;
  icon_arrow: gd_var(Specific/OptionButtonArrow);
}
OptionButton .normal {
  stylebox_bg_color: gd_var(Generic/Grey2);
}
OptionButton .hover {
  stylebox_bg_color: gd_var(Generic/Grey3);
}
OptionButton .pressed, OptionButton .focus {
  stylebox_bg_color: gd_var(Generic/Grey1);
}

PopupMenu {
  color_font_hover_color: gd_var(Generic/TextColor);
}
PopupMenu .panel {
  stylebox_border_width_left: 1;
  stylebox_border_width_top: 1;
  stylebox_border_width_right: 1;
  stylebox_border_width_bottom: 1;
  stylebox_border_color: gd_var(Generic/Neutral);
  stylebox_bg_color: gd_var(Generic/Grey2);
}
PopupMenu .hover {
  stylebox_corner_radius_top_left: 0;
  stylebox_corner_radius_top_right: 0;
  stylebox_corner_radius_bottom_right: 0;
  stylebox_corner_radius_bottom_left: 0;
  stylebox_bg_color: gd_var(Generic/Grey3);
}

Button {
  stylebox_border_width_left: 1;
  stylebox_border_width_top: 1;
  stylebox_border_width_right: 1;
  stylebox_border_width_bottom: 1;
  stylebox_content_margin_left: 5;
  stylebox_content_margin_right: 5;
  stylebox_content_margin_top: 5;
  stylebox_content_margin_bottom: 5;
  stylebox_border_color: gd_var(Generic/ButtonHoverBg);
  stylebox_bg_color: gd_var(Generic/ButtonBg);
  stylebox_draw_center: true;
}
Button .hover {
  stylebox_bg_color: gd_var(Generic/ButtonHoverBg);
}
Button .pressed {
  stylebox_bg_color: gd_var(Generic/ButtonPressedBg);
}
Button .focus {
  stylebox: none;
}

FlatButton {
  stylebox: none;
}

CheckButton .normal, CheckButton .focus, CheckButton .hover, CheckButton .pressed {
  stylebox: StyleBoxEmpty;
}

CheckBox .normal, CheckBox .disabled, CheckBox .pressed, CheckBox .focus, CheckBox .hover, CheckBox .hover_pressed {
  stylebox: StyleBoxEmpty;
}

LineEdit {
  stylebox_content_margin_left: 5;
  stylebox_content_margin_right: 5;
  stylebox_content_margin_top: 5;
  stylebox_content_margin_bottom: 5;
  stylebox_border_width_left: 1;
  stylebox_border_width_top: 1;
  stylebox_border_width_right: 1;
  stylebox_border_width_bottom: 1;
  stylebox_bg_color: gd_var(Generic/Grey2);
  stylebox_border_color: gd_var(Generic/Neutral);
}

HScrollBar .grabber, HScrollBar .grabber_highlight, HScrollBar .grabber_pressed, VScrollBar .grabber, VScrollBar .grabber_highlight, VScrollBar .grabber_pressed {
  stylebox_corner_radius_top_left: 2;
  stylebox_corner_radius_top_right: 2;
  stylebox_corner_radius_bottom_right: 2;
  stylebox_corner_radius_bottom_left: 2;
}
HScrollBar .grabber, VScrollBar .grabber {
  stylebox_border_width_left: 1;
  stylebox_border_width_top: 1;
  stylebox_border_width_right: 1;
  stylebox_border_width_bottom: 1;
  stylebox_border_color: gd_var(Generic/Neutral);
  stylebox_bg_color: gd_var(Generic/Grey2);
}
HScrollBar .scroll, VScrollBar .scroll {
  stylebox_bg_color: gd_var(Generic/Grey1);
}

VScrollBar .scroll {
  stylebox_content_margin_left: gd_var(Generic/ScrollbarWidth);
  stylebox_expand_margin_left: gd_var(Generic/ScrollbarPadding);
  stylebox_expand_margin_right: gd_var(Generic/ScrollbarPadding);
}

HScrollBar .scroll {
  stylebox_content_margin_top: gd_var(Generic/ScrollbarWidth);
  stylebox_expand_margin_top: gd_var(Generic/ScrollbarPadding);
  stylebox_expand_margin_bottom: gd_var(Generic/ScrollbarPadding);
}

HSeparator, VSeparator {
  stylebox: StyleBoxLine;
}
HSeparator .separator, VSeparator .separator {
  stylebox_color: gd_var(Generic/SeparatorColor);
}

VSeparator .separator {
  stylebox_vertical: true;
}

VBoxContainerNoSeparation {
  inherits: VBoxContainer;
  constant_separation: 0;
}

HBoxContainerNoSeparation {
  inherits: HBoxContainer;
  constant_separation: 0;
}

MarginPanel {
  constant_boundary_thickness: gd_var(Specific/MarginPanelBoundaryThickness);
  color_boundary: gd_var(Specific/MarginPanelBoundaryColor);
  constant_margin_bottom: gd_var(Specific/MarginPanelMargins);
  constant_margin_top: gd_var(Specific/MarginPanelMargins);
  constant_margin_left: gd_var(Specific/MarginPanelMargins);
  constant_margin_right: gd_var(Specific/MarginPanelMargins);
}
MarginPanel .panel {
  stylebox_bg_color: gd_var(Generic/Grey3);
}

PanelLayer1 {
  inherits: Panel;
}
PanelLayer1 .panel {
  stylebox_bg_color: gd_var(Generic/Grey3);
}

ButtonWindowControls {
  stylebox: none;
}
ButtonWindowControls .normal {
  stylebox_bg_color: rgba(0, 0, 0, 0);
}

Sidebar {
  fontsize_item: 18;
  color_item_selected: gd_var(Generic/Highlight);
}
Sidebar .background {
  stylebox_bg_color: gd_var(Generic/Frame);
}

/*# sourceMappingURL=Style.css.map */
